<!DOCTYPE html>
<html>
  <head>
   
  <title>TRAIN</title>

    <link rel="stylesheet" href="/assets/css/chessboard-0.3.0.min.css" />
    <style type="text/css">
        #owl-demo .item{
          background: #42bdc2;
          padding: 30px 0px;
          margin: 5px;
          color: #FFF;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          text-align: center;
      }
      .btn-default:hover,
      .btn-default:active, 
      .btn-default:focus{
        color: #ffffff;
        background-color: #428bff;
        border-color: #357ebd;
      }
      .thumbnail:hover,
      .thumbnail:focus {
        color: #ffffff;
        background-color: #428bff;
        border-color: #357ebd;
      }
       #canvas-holder1 {
        width: 90%;
        /*margin: 20px auto;*/
    }
    #canvas-holder2 {
        width: 50%;
        margin: 20px 25%;
    }
    #chartjs-tooltip {
        opacity: 1;
        position: absolute;
        background: rgba(0, 0, 0, .7);
        color: white;
        padding: 3px;
        border-radius: 3px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        pointer-events: none;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .chartjs-tooltip-key{
      display:inline-block;
      width:10px;
      height:10px;
    }
    #char2 {
      background-color: blue; 
      width: 100%;
      height: auto;
    }
      
  </style>
  </head>
  <body>
 

<div class="container-full">
  <div class="row"> <!-- hoyor class="col-md-6" -g aguulsan row div -->
    <div class="col-md-6" >
    <div id="board"></div>
    </div> 
 
<div class="col-md-6" >  <!--class="col-md-6" 2dahi column div-n ehlel  -->
     <!-- create game towch darahad modal tsonh uusgej bga div-n ehlel-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create Game</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Create Game</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">                  
                  </div>
                  <div class="col-sm-8">
                  <center>
                     <div class="btn-group" role="group" aria-label="First group">
                      <button type="button" class="btn btn-default">1</button>
                      <button type="button" class="btn btn-default">2</button>
                      <button type="button" class="btn btn-default">3</button>
                      <button type="button" class="btn btn-default">4</button>
                      <button type="button" class="btn btn-default">5</button>
                      <button type="button" class="btn btn-default">6</button>
                      <button type="button" class="btn btn-default">7</button>
                      <button type="button" class="btn btn-default">8</button>
                    </div>
                    </center>
                  </div>
                  <div class="col-sm-2">                 
                  </div>
                </div>
              </div>
        <div class="row">
            <div class="col-xs-6 col-md-4">
              <a href="#" id="newwhite" class="thumbnail" data-dismiss="modal">
                <img data-src="holder.js/100%x180" alt="100%x180" src="/assets/img/chessimg/white.svg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
              </a>

            </div>
            <div class="col-xs-6 col-md-4">
              <a href="#" id="newrandom" class="thumbnail" data-dismiss="modal">
                <img data-src="holder.js/100%x180" alt="100%x180" src="/assets/img/chessimg/randomcolor.svg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
              </a>
            </div>
            <div class="col-xs-6 col-md-4">
              <a href="#" id="newblack" class="thumbnail" data-dismiss="modal">
                <img data-src="holder.js/100%x180" alt="100%x180" src="/assets/img/chessimg/black.svg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
              </a>
            </div>
            </center>
        </div>  <!-- class="row" div end -->

          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>

      </div>
    </div>
  <!-- create game towch darahad modal tsonh uusgej bga div-n togsgol-->
      <p>Status: <span id="status"></span></p>
      <p>nextMove: <span id="nextmovie"></span></p>
      <p>FEN: <span id="fen"></span></p>
      <p>PGN: <span id="pgn1"></span></p>
           
      <button type="button" id="start_btn" class="btn btn-primary">New Game</button>
      <button type="button" id="undo_btn" class="btn btn-primary">Undo</button>
      <button type="button" id="flip_btn" class="btn btn-primary">Flip</button>
      <button type="button" id="flipcolor_btn" class="btn btn-primary">FlipColor</button>

      <div id="canvas-holder1">
          <canvas id="chart2" max-width="450" max-height="300"> </canvas>
      </div>
      <div id="canvas-holder1">
          <canvas id="myChart" width="400" height="150"></canvas>
      </div>
    </div> <!--class="col-md-6" 2dahi column end -->
  </div> <!-- hoyor class="col-md-6" -g aguulsan row div -->
</div> <!-- container-full -->

  
   
    <script src="/assets/js/chess.min.js"></script>
    <script src="/assets/js/myjs/mycustomengine.js"></script>
    <script src="/assets/js/chessboard-0.3.0.min.js"></script>
    <script src="/assets/js/chart/chart.js"></script>
    <script type="text/javascript">
      $("#document").ready(function() {
        
           
      });
    </script>
    <script type="text/javascript">
      //engine begin
        
        var my_game;
        var currentUserColor='white';
        var level = 5;
        var allScores=[];
        // var game=myEngineGame(fen, {book: '/assets/book.bin'});;
        function newGame() {
            var game = myEngineGame(fen, {book: '/assets/book.bin'});
            my_game=game;
            var baseTime = parseFloat($('#timeBase').val()) * 60;
            var inc = parseFloat($('#timeInc').val());
            var skill = parseInt($('#skillLevel').val());
            
            game.setTime(baseTime, inc);
            game.setSkillLevel(skill);
            game.setPlayerColor(currentUserColor);
            game.setDisplayScore($('#showScore').is(':checked'));
            game.start();
          }
          
          $("#document").ready(function() {
              $('#newwhite').click(function(event) {
              currentUserColor='white';
              newGame();
             });
             $('#newrandom').click(function(event) {
               tt=Math.floor(Math.random() * (1 - 0 + 1)) + 0;
               tt ? currentUserColor='white' : currentUserColor='black';
               newGame();
             });
             $('#newblack').click(function(event) {
              currentUserColor='black';
              newGame();
             });

              // modal dotorh tohirgoo
             $('.btn-group > button.btn').click();

              $(".btn-group > button.btn").on("click", function(){
                  level = +this.innerHTML;
                $(".btn-group > button.btn").each(function(index, element) {
                  $(element).removeClass('active');
                });
                $(this).addClass('btn-default:active');
              });

              //modal end
              newGame();  
              // window.setTimeout(allScores=my_game.getScores(), 2000);
          });

       

              $('#undo_btn').on('click', function() {          
                my_game.undo();
              });
               $('#start_btn').on('click', function() {  
                newGame();
              });

              $('#flip_btn').on('click', function() { 
             
              
                my_game.flip();
              });

               $('#flipcolor_btn').on('click', function() {          
                my_game.flipColor();
                
              });

              

      </script>
        <script src="/assets/js/chart/scorechart.js"></script>

</body>
</html>
