<html ng-app = "mainApp">
<head>
  <title>Angular JS Forms</title>
  <link rel="stylesheet" href="/assets/css/chessboard-0.3.0.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/design/buttons.css">
   <script src="/assets/js/chess.min.js"></script>
  <script src="/assets/js/chessboard-0.3.0.min.js"></script>		
  <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="/assets/js/tactics/mainapp.js"></script>
  <script src="/assets/js/tactics/controllers.js"></script>
  <script src="/assets/js/tournament/services/dbSrvc.js"></script>
</head>
   
   <body>
       <div ng-controller = "parentController">
          <div ui-view>
            <!-- end form -->
          </div>
    
        <%= form_tag trains_playcenter_path,
            :method => 'POST', :target => "_blank", :id => "play_with_ai" do |f| %>
             <input type="hidden" name="fendata" id="fenValid" value="{{current_fen}}">
             <input type="hidden" name="plColor" id="plColor" value="{{pl_color}}">

          <% end %> 
      </div>
    
<script type="text/javascript">
var _tactic = '<%= params[:tactic] if params[:tactic]%>';
var _nuuts_ug = <%= raw form_authenticity_token.inspect if protect_against_forgery? %>
var _type = '<%= params[:type] if params[:type]%>';


</script>
      
     <script src="/assets/plugins/glicko2.js"></script>

   </body>
</html>