  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="/assets/css/cssbmd/dist/css/bootstrap-material-design-progress-bar.min.css">

<style type="text/css">
       
  
          
</style>


<div class="container-full">


  <div class="row">
  <div class="col-md-5" >
  <h4>{{firstMove}} {{tacticType}}</h4>
<h4>Point:{{user_rating.point}} lastPoint:{{$parent.tempPoint}}</h4>   
  
  <div id="board"></div>

</div>

<!-- 
    <div class="col-sm-6" style="background-color:lavender;">
        <div id="board" ></div>
             <div class="jumbotron">
          </div>
           <p>Status: <span id="status"></span></p>
            <p>nextMove: <span id="nextmovie"></span></p>
          <p>FEN: <span id="fen"></span></p>
            <p>PGN: <span id="pgn"></span></p>
     
      </div>
     
      
    </div>
 -->
    <div class="col-md-7" style="background-color:lavenderblush;">
     <div class="row">
       <div id="alertSuccess" class="alert alert-success" role="alert">Well done! You successfully solve this problem.</div>
      <div id="alertFail" class="alert alert-danger" role="alert">Wrong move! try again.</div>
  <h4>Your rating: {{roundStrRating}} </h4>
  <h4>Time:{{timer}} </h4>
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100"
      aria-valuemin="0" aria-valuemax="100" style="width:100%">
        <span class="sr-only">100% Complete</span>
      </div>
   </div>
  
     
          <form class="form-horizontal" role="form">
          
          </form>
          

            <div id="board-buttons" style="display: none;">
            <button type="button" class="btn btn-default" id="arrow_btnStart"><i class="fa fa-fast-backward fa-lg"></i></button>
            <button type="button" class="btn btn-default" id="arrow_btnPrevious"><i class="fa fa-step-backward fa-lg"></i></button>
            <button type="button" class="btn btn-default" id="arrow_btnNext"><i class="fa fa-step-forward fa-lg"></i></button>
            <button type="button" class="btn btn-default" id="arrow_btnNextPuzzle"><i class="fa fa-fast-forward fa-lg"></i></button>
          </div>
      
      <div><!-- buttons -->
        <button  id="btnRetry" type="button" class="btn btn-primary">Retry</button>
          <button  id="btnNew" type="button" class="btn btn-primary">New Random</button>
        <button  id="btnNextProb" type="button" class="btn btn-primary">Next</button>
      </div>
             
       <p>PuzzleNumber: <span id="currentPuzzle"></span></p>
       <p>FEN: <span id="fen"></span></p>

          <!-- default -->
          
          <!-- dafualt end -->
      </div>    
    </div>
  </div>
</div>
<!-- <script src="/assets/js/tournament/problemsolve1125.js"></script>  -->

<!-- <script src="/assets/js/tournament/problemsolve1125.js"></script>   -->