  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/css" href="/assets/css/cssbmd/dist/css/bootstrap-material-design-progress-bar.min.css">

<style type="text/css">
       
  
          
</style>


<div class="container-full">


  <div class="row">
  <div class="col-md-5" >
  <h4>{{firstMove}} {{tacticType}}</h4>
<h4>Point:{{user_rating.point}} + {{$parent.tempPoint}}</h4>   
  
  <div id="board"></div>

</div>

<!-- 
    <div class="col-sm-6" style="background-color:lavender;">
        <div id="board" ></div>
             <div class="jumbotron">
          </div>
           <p>Status: <span id="status"></span></p>
            <p>nextMove: <span id="nextmovie"></span></p>
          <p>FEN: <span id="fen"></span></p>
            <p>PGN: <span id="pgn"></span></p>
     
      </div>
     
      
    </div>
 -->
    <div class="col-md-7">
     <div class="row">
     <div class="block">
       <div id="alertSuccess" class="alert alert-success" role="alert">Well done! You successfully solve this problem.</div>
      <div id="alertFail" class="alert alert-danger" role="alert">Wrong move! try again.</div>
  <h4>Your rating: {{roundStrRating}} </h4>
  <h4>Time:{{timer}} </h4>
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100"
      aria-valuemin="0" aria-valuemax="100" style="width:100%">
        <span class="sr-only">100% Complete</span>
      </div>
   </div>
  
     
      
        

      <div id="buttonSolution" style="display: none;">

          <button id="arrow_btnPrevious" class="btn btn-default" type="button"><i class="fa fa-arrow-left"></i></button>

          <button id="arrow_btnNext" class="btn btn-default" type="button"><i class="fa fa-arrow-right"></i></button>
      
      </div>
      
      <div><!-- buttons -->
        <button style="display: none;" id="btnRetry" type="button" class="btn btn-primary">Retry</button>
        <button  id="btnGiveUp" type="button" class="btn btn-primary">Give up</button>
        <button id="btnPlayAI" type="submit" class="btn btn-primary">Play computer</button>
        <button  id="btnNextProb" type="button" class="btn btn-primary">Next</button>
      </div>
             
       <p> <span id="currentPuzzle"></span></p>
       <p> <span id="fen"></span></p>
       <h4>Tactic rating: {{roundStrTacticRating}}</h4>
       <h4>Your solved: {{user_rating.puzzle_success_count}}</h4>
       <p>SHARE: <span id="share_url">{{share_url}}</span></p>

          <!-- default -->
          
          <!-- dafualt end -->
          
          
      </div>    <!-- block -->
      </div>  <!-- row -->
    </div>
  </div>
</div>
<!-- <script src="/assets/js/tournament/problemsolve1125.js"></script>  -->

<!-- <script src="/assets/js/tournament/problemsolve1125.js"></script>   -->