<html ng-app = "mainApp">
   <head>
      <title>Angular JS Forms</title>
  <meta name="robots" content="noindex, nofollow">
<link rel="stylesheet" href="/assets/css/chessboard-0.3.0.min.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
 <link rel="stylesheet" href="/assets/css/design/buttons.css">
 <script src="/assets/js/chess.min.js"></script>
<script src="/assets/js/chessboard-0.3.0.min.js"></script>		
<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
</script>

</script>

  <script src="/assets/js/tournament/mainapp.js"></script>
  <script src="/assets/js/tournament/controllers.js"></script>
  <script src="/assets/js/tournament/roomcontroller.js"></script>
  <script src="/assets/js/tournament/homecontroller.js"></script>
  <script src="/assets/js/tournament/detailcontroller.js"></script>
  <script src="/assets/js/tournament/services/dbSrvc.js"></script>
    <script src="/assets/js/tournament/services/sharedService.js"></script>
  <script src="/assets/js/tournament/services/messageService.js"></script>

   </head>
   
   <body>
       <div ng-controller = "parentController" >
        <h2>{{timer}}</h2>
        <h3>{{$root.isMqttConnected}}</h3>
          <div ui-view>
          </div>

      </div>
    
<script type="text/javascript">
  var _AUTH_TOKEN = <%= raw form_authenticity_token.inspect if protect_against_forgery? %>
  var array=<%= raw @tournament_all.to_json%>
  var tactic_array=<%= raw @tactic_all.to_json%>
  var usernameaaa= '<%= ApplicationHelper.current_user(session).name%>'

</script>
      <script src="/assets/mqtt/amqttws31.js"></script>
      <script src="/assets/js/myjs/mate2.js"></script>  
      <script src="/assets/js/tournament/data/mate3.js"></script>

   </body>
</html>