<ul class="list-group">
  <li class="list-group-item"><span class="badge">12</span> New</li>
  <li class="list-group-item"><span class="badge">5</span> Deleted</li> 
  <li class="list-group-item"><span class="badge">3</span> Warnings</li> 
</ul>